/* Элементы, принадлежащие personal-data */
.personal-data-title {
  color: white;
  -webkit-text-stroke: 2px black;
  font-family: "Politburo", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin: 15px 0 20px 0;
}

.personal-data-photo {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
  height: 200px;
}

.personal-data-name {
  font-family: "Segoe UI";
  font-size: 30px;
  font-style: italic;
  margin: 0 0 0 10px;
}

.personal-data-info {
  font-family: "Segoe UI";
  font-size: 20px;
  margin: 30px 0 0 10px;
}

.personal-data-info p {
  margin: 0 0 10px 0;
}

/* Элементы, принадлежащие skills */
.skills-title {
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Politburo", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin: 15px 0 15px 0;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.skills-box-item {
  background-color: rgb(159, 159, 159);
  display: block;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-family: "Segoe UI";
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  margin: 0 auto 5px auto;
}

/* Элементы, принадлежащие projects */
.projects-title {
  color: rgb(95, 95, 95);
  -webkit-text-stroke: 1px white;
  font-family: "Politburo", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin: 15px 0 15px 0;
}

.projects-item {
  display: flex;
  margin: 0 0 10px 0;
}

.projects-item img {
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
  margin: 10px 0 0 30px;
}

.projects-item p {
  font-family: "Segoe UI";
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  margin: 15px 0 0 15px;
}

/* Элементы, принадлежащие contacts */
.contacts-title {
  color: rgb(155, 155, 155);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  font-family: "Politburo", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin: 15px 0 15px 0;
}

.contacts-item {
  display: flex;
  margin: 0 0 10px 0;
}

.contacts-item img {
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 90px;
  margin: 10px 0 0 30px;
}
