/* Каркас страницы */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  height: 100px;
  border-radius: 15px 15px 0 0;
  margin: 10px auto 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
}

footer {
  background-color: white;
  display: flex;
  max-width: 1080px;
  height: 50px;
  border-radius: 0 0 15px 15px;
  margin: 0 auto 10px auto;
}

.personal-data {
  flex: 1;
}

.grid {
  flex: 2;
}
