@media (min-width: 768px) {
  main {
    flex-direction: row;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .header-title {
    font-size: 40px;
  }

  .personal-data-name {
    font-size: 25px;
  }

  .projects-item p {
    font-size: 18px;
    margin: 22px 0 0 10px;
  }

  .contacts-item a {
    font-size: 18px;
    margin: 22px 0 0 10px;
  }
}

@media (min-width: 1024px) {
  .header-title {
    font-size: 60px;
  }

  .personal-data-photo {
    width: 200px;
    height: 200px;
  }

  .personal-data-name {
    font-size: 30px;
  }

  .projects-item p {
    font-size: 25px;
    margin: 18px 0 0 10px;
  }

  .contacts-item a {
    font-size: 25px;
    margin: 18px 0 0 10px;
  }
}

@media (min-width: 1440px) {
  header,
  main,
  footer {
    max-width: 1400px;
  }

  .header-title {
    font-size: 70px;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 28px;
  }

  .header-name {
    font-size: 16px;
  }

  .projects-item p,
  .contacts-item a {
    font-size: 16px;
  }
}
